body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
  font-size: 48px;
  text-align: center;
  letter-spacing: 25px;
  line-height: 10px;
  background-color: rgb(49, 49, 49);
  color: rgb(201, 201, 201);
}

.gold-star {
  color: gold;
}

.red-star {
  color: red;
}

.green-leaf {
  color: green;
}
